{
  :btd-1.info-sharing.network {
    :details {
      :name "ISN BTD 1 (SPS import notification)"
      :purpose "Exchanging pre-notification and related signals"
    }
    :signals {
      :pre-notification {
        :description "Data about incoming SPS goods movements"
        :properties {
          :chedNumbers "a list of CHED reference numbers related to the movement"
          :cnCodes "a list of Commodity Codes for the goods"
          :commodityDescription "a summary description of the goods in the movement"
          :exporterEORI "Economic operator ID for the exporter"
          :importerEORI "Economic operator ID for the importer"
          :location "location of where goods are loaded"
          :countryOfOrigin "country the goods originted in"
          :mode "RORO  (Rail/Air/Maritime not supported in this signal definition)"
          
          :unitIdentification {
            :trailerRegistrationNumber "TRN should be supplied where available"
            :containerNumber "supply where relevant"
            :tractorRegristratioNumber "VRN for drive accompanied movements"
          }
          :sampleTestResultsURL "url link to the test result certificate on TWIN"
        }
        :list-payload-keys [:cnCodes :countryOfOrigin]
        :expiry-days-from-now 14
      }
      :despatch {
        :description "data sent when the vehicle has set off to the port" 
        :properties {
           :sealNumbers "seals applied to the vehicle"
           :destinationPlant "location of the destination for the goods"
           :plannedDepartureTime "Date Time ISO 8601"
           :actualDepartureTime "Date Time ISO 8601"
           :portOfExit "port of exit name"
           :portOfEntry "port of entry name"
        }
        :list-payload-keys [:plannedDepartureTime :actualDepartTime :portofEntry]
        :expiry-days-from-now 14
      }
    }
  }
 }
